@media (min-width: 768px) {
.link {
  text-decoration: none;
}

body {
  background-color: #d6b3b3;
  font-family: "Segoe UI", Roboto, sans-serif;
  color: #212529;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

h1 {
  overflow-wrap: anywhere;
  font-weight: bold;
  font-size: 6rem;
  text-align: left;
}

p {
  margin-bottom: 1rem;
}

.centerer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageContainer {
  padding-left: 25vw;
  padding-right: 25vw;
  font-family: "Inter", sans-serif;
}

.pageContainer img {
  display: block; /* Important for margin: auto to work horizontally */
  margin: 0 auto;
  /* Optional: Set a max-width if the image is too large */
  max-width: 100%; 
  height: auto;
}

.pageContent {
  font-size: 1.5rem;
}

.home {
  background-color: #d6b3b3; 
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HomeTitle {
  display: flex;
  font-family:  "DM Serif Text", serif;
  width: auto;
  height: 50vh;
  align-items: center;
  margin-bottom: 2rem;
}

#H {
  background-color: black;
  color: #d6b3b3;
  border-style: solid;
  border-color: #ffffff;
  font-size: 30vh; 
  font-weight: bold;
  width: 30vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-shadow: 
    2px 2px 0 white,
    -2px 2px 0 white,
    2px -2px 0 white,
    -2px -2px 0 white;
  animation: breathe 3s ease-in-out infinite;
}

@keyframes breathe {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.06);
  }
}

#H:hover {
  background-color: #d6b3b3;
  color: black;
}

#universe {
  width: 50vw;
  height: 20vh;
  margin: 2vh;
  padding: 0;
  border: 0;
  font-size: 15vh;
  font-weight: bold;
  color: black;
  text-shadow: 
    1px 1px 0 white,
    -1px 1px 0 white,
    1px -1px 0 white,
    -1px -1px 0 white;
}

.about {
  grid-area: 8 / 5 / 9 / 9;
  width: 50vw;
  height: 30vh;
  font-size: 1.75vh;
  font-family: "Inter", sans-serif;
  background-color: black;
  color: white;
  margin: 3vw;
  padding: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  text-align: center;
}

#infoButton {
  grid-area: 8 / 9 / 6 / 7;
  background-color: black;
  color: white;
  border-style: solid;
  border-color: white;
  border-radius: 20px;
}

#infoButton:hover {
  background-color: #d6b3b3;
  color: black;
}

.nav {
  background-color: black;
  display:flex;
  justify-content: space-between;
}

.navbarLink {
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#homeLink {
  display: flex;
  font-family:  "DM Serif Text", serif;
}

#navbarH {
  margin: 10px;
  color: black;
  background-color: #d6b3b3;
  border-style: solid;
  border-color: #ffffff;
  text-shadow: 
    1px 1px 0 white,
    -1px 1px 0 white,
    1px -1px 0 white,
    -1px -1px 0 white;
  height: 5vh;
  width: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 3vh;
}

#navbarH:hover {
  background-color: black;
  color: #d6b3b3
}

#navbarUniverse {
  color: #d6b3b3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

#navRight {
  display: flex;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  justify-content: space-evenly;
}

#navPosts {
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d6b3b3
}

#navPosts:hover {
  background-color: #d6b3b3;
  color: black;
  border-style: solid;
  border-color: #ffffff;
}

#navAbout {
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d6b3b3
}

#navAbout:hover {
  background-color: #d6b3b3;
  color: black;
  border-style: solid;
  border-color: #ffffff;
}

#navContact {
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d6b3b3
}

#navContact:hover {
  background-color: #d6b3b3;
  color: black;
  border-style: solid;
  border-color: #ffffff;
}

#postPageWraper {
  display: flex;
  flex-direction: column;
}

#postsPage {
   font-family: "Inter", sans-serif;
   background-color: #2f3e46;
   border-style: solid;
   border-radius: 2vh;
   margin: 1vh 10vw 1vh 10vw;
   padding: 1vh 1vw 1vh 1vw;
   text-align: center;
}

#postsContainer {
   display: flex;
   flex-direction: column;
}

#noPosts {
  margin-top: 10vh;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 5vh;
}

.Date {
  margin: 0;
}

.DateAndTags {
  font-weight: normal;
}

.Tags {
  margin: 0;
}

.tagsContainer {
  display: flex;
  overflow-wrap: wrap;
}

#filterSvg {
  margin: 10px;
  width: 3vw;
  height: 3vh;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-wrap: anywhere;
  font-weight: bold;
  margin: 10px;
  background-color: #ff6b6b;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  width: 7vw;
  height: 5vh;
}

.tag:hover {
  background-color: #e9c46a;
}

.selectedTag {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-wrap: anywhere;
  font-weight: bold;
  margin: 10px;
  background-color: #4ecdc4;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  width: 7vw;
  height: 5vh;
}

.selectedTag:hover {
  background-color: #e9c46a;
}

.PostCard {
   font-family: "Inter", sans-serif;
   font-weight: bold;
   background-color: #f5f0e1;
   color: black;
   margin: 10px;
   padding: 5px;
   text-align: left;
   border-color: black;
   border-style: solid;
   border-radius: 5px;
   display: flex;
   justify-content: space-between;
   min-height: 10vh;
}

.PostTitle {
   overflow-wrap: anywhere;
   margin: 5px;
   font-size: 2rem;
}

.open {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 5vw;
  background-color: #ff6b6b; 
  border-style: solid;
  border-color: #2f3e46;
  border-radius: 1vh;
  color: black;
}

.open:hover {
  background-color: #e9c46a;
}

.openPostLink {
  text-decoration: none;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.BlogPostTitle {
  overflow-wrap: anywhere;
  font-weight: bold;
  font-size: 6rem;
  text-align: left;
}


.contactForm {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 40vh;
}

label {
  font-size: 2rem;
  margin: 1vh;
}

.inputName {
  margin: 10px;
  background-color: #f5f0e1;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  width: 20vw;
  height: 3vh;
}

.inputMail {
  margin: 10px;
  background-color: #f5f0e1;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  width: 30vw;
  height: 3vh;
}

.inputMessage {
  margin: 10px;
  background-color:#f5f0e1;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  width: 50vw;
  height: 30vh;
}

.sendButton {
  background-color: #ff6b6b;
  font-weight: bold;
  border-style: solid;
  border-color: black;
  padding: 2vh;
  border-radius: 5px;
  width: 10vw;
  height: 10vh;
  align-self: center;
}

.sendButton:hover {
  background-color: #e9c46a;
}

}
