body {
  background-color: #d6b3b3;
  font-family: "Segoe UI", Roboto, sans-serif;
  color: #212529;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
p {
  margin-bottom: 1rem;
}

.home {
  /* background-color: #e6b7b7; */ 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  font-family: Arial, sans-serif;
  margin: 0;
}

.HomeTitle {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

#H {
  background-color: black;
  color: #d6b3b3; /* same pink as background */
  font-size: 22rem;
  font-weight: bold;
  width: 30vw;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
}

#universe {
  font-size: 5rem;
  font-weight: bold;
  color: black;
}

.about {
  background-color: black;
  color: white;
  margin: 5px;
  padding: 2rem;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  text-align: center;
}

#postsPage {
   background-color: black;
   color: #d6b3b3;
   margin: 1vh 10vw 1vh 10vw;
   padding: 1vh 1vw 1vh 1vw;
   text-align: center;
}

#postsContainer {
   display: flex;
   flex-direction: column;
   
}

.Post {
   background-color: #d6b3b3;
   color: black;
   margin: 10px;
   padding: 5px;
   text-align: left;
   border-radius: 5px;
   display: flex;
}

.PostTitle {
   margin: 5px;
}

.PostDate {
   margin: 5px;
}
